<hr class="mt-3">
<footer style="text-align: center;">
    <div class="f-info">

        <div class="f-info-socials">
           <a href="https://www.linkedin.com/in/anuj-kumar-b47528215/" style="cursor: pointer;" target="_blank"><i class="fa-brands fa-linkedin"></i></a>&nbsp;
           <a href="https://www.instagram.com/anuj_jsr247/" style="cursor: pointer;" target="_blank"><i class="fa-brands fa-instagram"></i></a>&nbsp;
           <a href="#"> <i class="fa-brands fa-facebook" style="cursor: pointer;"></i></a>
          

        </div>
    <div>&copy;Pets Private Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    </div>
</footer>